@font-face {
  font-family: "Helvetica Neue LT Std 45 Light";
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Neue LT Std 45 Light"),
    url("../fonts/HelveticaNeueLTStd Lt.woff") format("woff");
}

* {
  font-family: "Helvetica Neue LT Std 45 Light", Helvetica, sans-serif;
}

h1 {
  padding: 0;
  margin: 0;
}

form {
  margin-bottom: 20px;
}

.error {
  color: red;
}

.container {
  border: solid 1px grey;
  margin-bottom: 10px;
  border-radius: 5px;
}

.btn {
  background: pink;
  border: solid 1px red;
  border-radius: 3px;
  margin: 0;
  padding-top: 3px;
  cursor: pointer;
}

.flex.header {
  border-top: none;
  padding: 5px 10px;
}

.flex {
  display: flex;
  flex-direction: row;
  border-top: solid 1px grey;
  padding: 5px;
}

.box {
  flex: 1;
  text-align: center;
  border: solid 1px lightblue;
  color: lightslategray;
  margin: 5px;
  text-decoration: none;
}

.header .btn {
  margin-left: auto;
}
